body {
    background-image: url(/assets/cloud.jpg);
    background-size: cover;
    
}

.locText {
    /* font-family:; */
    font-size: 48px;
    color: white;
    
}

.currentText {
    font-size: 128px;
    color: white;
    
}

.weatherText {
    text-align: center;
    font-size: 36px;
    color: white;
}

.tempText {
    font-size: 24px;
    color: white;
}

.forecastText {
    font-size: 40px;
    color: white;
}

.divBox {
    width: 250px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.583);
    border-radius: 20px;

  }


.card {
    background-color: #4A71BD80;
}

















/* 

EOD Report
1. Contacted client for additional information on the Figma
2. Setup website skeleton
3. Uploaded to GitHub */